/* styles.css */
body {
  font-family: inherit;
  font-size: 24px;
}

.error {
  color:red;
}

textarea {
  width: 400px;
  height: 200px;
  font-family: sans-serif;
}

hr {
  margin: 20px auto;
}

art-title {
  font-family: inherit;
  font-size: 21px;
}

art-body {
  font-family: inherit;
  font-size: 14px;
}

div {
  font-family: fantasy;
  font-size: 18px;
}

input[type=submit]{
  font-size: 18px;
}
